<body>
    <div class="d-flex justify-content-center">
        <form action="/categories/admin/update/{{doc.id}}" class="m-2 w-50">
            <div class="mt-3">
                <label for="name">Write the name of the category</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="{{doc.name}}">
            </div>
            
            <h4 class="mt-5">Only in required moments</h4>
            
            <div class="mt-3">
                <label for="id">Write a new ID for the category</label>
                <input type="text" name="id" id="id" class="form-control" placeholder="{{doc.id}}">
            </div>
            <button type="submit" class="btn btn-info mt-3">Update the category</button>
        </form>
    </div>
</body>